<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<!-- 헤드 -->
<th:block th:replace="~{layout/fragments/header :: header}"/>
<!-- /헤드 -->
<body>
<!-- 상단바 -->
<th:block th:replace="~{layout/fragments/bodyHeader :: bodyHeader}"/>
<!-- /상단바 -->
<!-- 사이드바 -->
<th:block th:replace="~{layout/fragments/banner :: banner}"/>
<!-- /사이드바 -->
<!-- 본문 -->
<th:block layout:fragment="content"/>
<!-- /본문 -->
<!-- 하단바 -->
<th:block th:replace="~{layout/fragments/bodyFooter :: bodyFooter}"/>
<!-- /하단바 -->
<!-- 하단 -->
<th:block th:replace="~{layout/fragments/footer :: footer}"/>
<!-- /하단 -->
</body>
</html>